@media all and (min-width: 1440px) {
  .bg-mujer {
    min-height: auto;
  }
  .bg-mujer .servicios-icons {
    grid-template-columns: repeat(7, 1fr);
  }
}
@media all and (min-width: 1024px) {
  header .fa-phone-square-alt {
    display: none;
  }
}
@media all and (max-width: 1024px) {
  main article .service .services details {
    display: block;
    margin: 0.5em 0;
  }
}
@media all and (max-width: 768px) {
  header {
    height: 80vh;
    text-align: center;
  }
  header .header-style {
    position: relative;
    top: 20%;
    margin: 0;
  }
  header .header-style figure img {
    display: inline;
  }
  header .header-style nav {
    display: none;
  }
  .bg-mujer .servicios-icons i {
    font-size: 3em;
    margin-top: 0.8em;
    padding: 0.2em;
  }
  main {
    padding: 0;
  }
  main article .service {
    overflow-x: auto;
    white-space: nowrap;
    grid-template-columns: repeat(6, 1fr);
  }
  main article .service .services {
    margin: 0;
    padding: 0 1em;
  }
  main article .service p {
    white-space: normal;
  }
}
@media all and (max-width: 425px) {
  main article .description img {
    width: 100%;
  }
  main .description img {
    width: 100%;
    padding: 0;
    border-radius: 0;
  }
  .bg-mujer .servicios-icons {
    grid-template-columns: repeat(3, 33.3%);
  }
  .bg-mujer .servicios-icons i {
    font-size: 2.5em;
    margin-top: 0.5em;
  }
}
