@import "index_variables"

@media Mw1440
    .bg-mujer
        min-height auto
        .servicios-icons
            grid-template-columns: repeat(7, 1fr)

@media Mw1024
    header
        .fa-phone-square-alt
            display: none

// @media mw768 (orientation: landscape)
// @media mw2560
// @media mw1440
@media mw1024
    main
        article
            .service
                .services
                    details
                        display: block

@media mw768
    header
        height 80vh
        text-align: center
        .header-style
            position: relative
            top 20%
            margin 0
            figure
                img
                    display: inline
            nav
                display: none
    .bg-mujer
        .servicios-icons
            i
                font-size: 3em
                margin-top .8em
                padding .2em
    main
        padding 0
        article
            .service
                overflow-x auto
                white-space nowrap
                grid-template-columns: repeat(6, 1fr)
                .services
                    margin 0
                    padding 0 1em
                p
                    white-space: normal

@media mw425
    main
        article
            .description
                img
                    width 100%
        .description
            img
               width 100%
               padding: 0
               border-radius: 0

    .bg-mujer
        .servicios-icons
            grid-template-columns: repeat(3, 33.3%)
            i
                font-size: 2.5em
                margin-top .5em