azul = #1682c6
gris = #252222
darkazul = #113356
azul10 = rgb(#1682c6 + 10%)
azul20 = rgb(#1682c6 + 20%)
azul30 = rgb(#1682c6 + 30%) 
mw2560 = "all and (max-width: 2560px)"
mw1440 = "all and (max-width: 1440px)"
mw1024 = "all and (max-width: 1024px)"
mw768 = "all and (max-width: 768px)"
mw600 = "all and (max-width: 600px)"
mw425 = "all and (max-width: 425px)"
mw375 = "all and (max-width: 375px)"
mw320 = "all and (max-width: 320px)"

Mw2560 = "all and (min-width: 2560px)"
Mw1440 = "all and (min-width: 1440px)"
Mw1024 = "all and (min-width: 1024px)"
Mw768 = "all and (min-width: 768px)"
Mw600 = "all and (min-width: 600px)"
Mw425 = "all and (min-width: 425px)"
Mw375 = "all and (min-width: 375px)"
Mw320 = "all and (min-width: 320px)"

// athelas