@import "index_variables"

body
    border 0
    font-family: 'Lato', sans-serif;
    margin 0
    padding 0

h1, h2, h3, h4, h5, h6
    font-family: 'Oswald', sans-serif;

a, p, li
    font-family: 'Roboto Condensed', sans-serif;
    
footer
    background #3c3c3c
    width 100%
    min-height 150px
    color white
    margin 0
    .footer_contacto
        display inline-block
    .redchainco
        text-align center
        a
            font-size 1.2em
            color white
        a:hover
            color #d40000
        

header
    background-image: url("../img/jj-ying-7JX0-bfiuxQ-unsplash.jpg")
    background-repeat: no-repeat
    background-size: cover
    box-sizing: border-box
    height 800px
    width 100%
    .fa-phone-square-alt
        color azul
    .fa-phone-square-alt:hover
        color #00e03a
    .header-style
        margin-left 5%
        position: relative
        top 30%
        figure
            border 0
            margin 0
            padding 0
            img
                display: block
                max-height: 80px
                padding-top: 1.5em
        nav
            ul
                border 0
                margin 0
                padding 0
                li
                    display: inline-block
                    font-size: 1.5em
                    padding 0 10px
                    a
                        color rgba( black, 80%)
                        text-decoration: none
                    a:hover
                        color rgba(azul , 80%)
                        text-decoration: underline
        h1
            font-size: 2.5em
            margin-bottom 0
            color gris
            #azul
                color azul
        h2
            color rgba(gris, .8)
            margin-top 0

.info
    display flex
    flex-wrap: wrap
    justify-content: center
    margin 0
    padding 0
    position relative
    top -5em
    a
        color #fff
        text-decoration: none
        .info-box-1, .info-box-2, .info-box-3, .info-box-4
            max-height 250px
            max-width: 600px
            padding: 1em
            width 250px
            h3, p
                display: block
                text-align: center
            h3
                margin-bottom 0
                letter-spacing: 1px
                text-transform: uppercase
            p
                color rgba(#fff, .7)
                font-size: 1.1em
                line-height: 1.5em
        // .info-box-1:hover, .info-box-2:hover, .info-box-3:hover, .info-box-4:hover
        //     box-sizing: border-box
        //     position relative
        //     top -1.5em
        //     transition .3s
        //     width 300px
        //     z-index: 1
        .info-box-1
            background azul
        .info-box-2
            background azul10

        .info-box-3
            background azul20

        .info-box-4
            background azul30

main
    max-width 1440px
    position relative
    margin 0 auto
    padding 0 1em
    box-sizing: border-box
    .description
        p
            font-size: 1.3em
        img
            border-radius: 1em
            float left
            margin-bottom .5em
            padding-right 1em
            width 250px
    article
        .service
            display: grid
            grid-template-columns: repeat(3, 1fr)
            grid-template-rows: repeat(1, 1fr)
            margin 1em 0
            .services
                color white
                margin .5em .5em
                padding 0 1em
                details
                    text-align: center
                    display inline-block
                    margin 0 .5em
                    box-sizing: border-box
                    ul
                        text-align: left
                        white-space normal
                        overflow-w none
                        padding-left 1em
                        padding-right 0
                    summary
                        margin-bottom 2em
                        max-width 300px
                        h3
                            margin 0 auto
            #services-1
                background rgba(azul, 100%)
            #services-2
                background rgba(azul, 90%)
            #services-3
                background rgba(azul, 80%)
            #services-4
                background rgba(azul, 70%)
            #services-5
                background rgba(azul, 60%)
            #services-6
                background rgba(azul, 50%)
    .contacto_block
        background: #3a3a3a
        color #ffffff
        text-align: center
        margin 0
        padding 2em
        h3
            box-sizing: border-box
            font-size: 2em
            margin 0.5EM
        a
            color white
            text-decoration: none
            i
                display inline-block
                padding 0 1em
                p
                    font-size .5em
            i:hover
                color azul

.bg-mujer
    background-image: url('../img/ani-kolleshi-vu-DaZVeny0-unsplash.jpg')
    background-position: left
    background-repeat: no-repeat
    background-size: cover
    background-attachment fixed
    box-sizing: border-box
    min-height 350px
    width auto
    .servicios-icons
        display: grid
        grid-template-columns: repeat(4, 25%)
        justify-content: space-around
        box-sizing: border-box
        margin 0 auto
        text-align: center
        i
            padding-top .5em
            font-size: 3.5em
            color azul
            p
                font-size: 1rem
                font-weight: 400
        i:hover
            color gris
    #diagnostica
        color rgba(gris, .8)
    #diagnostica:hover
        color rgba(gris, 1)

aside
    iframe
        margin 2em auto

@import "index_mediaQuery"  